<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&family=DM+Sans:wght@300;400;500&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">El-Sofra</a>

        <ul class="navbar-links">
            <li>
                <a href="{% url 'home' %}"
                    class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            </li>

            <li>
                <a href="{% url 'recipes_list' %}"
                    class="{% if request.resolver_match.url_name == 'recipes_list' %}active{% endif %}">Recipes</a>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'favorites' %}"
                    class="{% if request.resolver_match.url_name == 'favorites' %}active{% endif %}">Favourites</a>
            </li>

            <li>
                <a href="{% url 'profile' %}"
                    class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">Profile</a>
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li>
                <a href="{% url 'dashboard' %}"
                    class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">Dashboard</a>
            </li>
            {% endif %}
        </ul>


        <div class="navbar-auth">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" style="text-decoration: none; display: flex; align-items: center; gap: 10px;">

                <img src="{{ user.profile.image.url }}" style="width: 40px ; height: 40px ; border-radius : 50%">
                <p style="color: #f2e9d0 ; font-family: 'Playfair Display' ">
                    Welcome <span style="   color: var(--brown-mid);
                 background: #f2e9d0; border: 1px solid rgba(184, 134, 11, 0.3); border-radius: 50px;
                 padding: 3px 10px;  font-family: 'DM Sans', sans-serif;
                 ">{{ user.username }}</span>
                </p>
            </a>
            {% else %}

            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}" class="signup-btn">Sign Up</a>

            {% endif %}
        </div>
    </nav>
    <script> window.addEventListener('scroll', () => {
            document.querySelector('.navbar').classList.toggle('scrolled', window.scrollY > 50);
        });</script>
    {% block content %}

    {% endblock %}
</body>

</html>